.venv/bin/pyproject-build
.venv/lib/python3.8/site-packages/build/__init__.py
.venv/lib/python3.8/site-packages/build/__main__.py
.venv/lib/python3.8/site-packages/build/env.py
.venv/lib/python3.8/site-packages/build/py.typed
.venv/lib/python3.8/site-packages/build/util.py
.venv/lib/python3.8/site-packages/build/__pycache__/__init__.cpython-38.pyc
.venv/lib/python3.8/site-packages/build/__pycache__/__main__.cpython-38.pyc
.venv/lib/python3.8/site-packages/build/__pycache__/env.cpython-38.pyc
.venv/lib/python3.8/site-packages/build/__pycache__/util.cpython-38.pyc
.venv/lib/python3.8/site-packages/build-0.8.0.dist-info/entry_points.txt
.venv/lib/python3.8/site-packages/build-0.8.0.dist-info/INSTALLER
.venv/lib/python3.8/site-packages/build-0.8.0.dist-info/LICENSE
.venv/lib/python3.8/site-packages/build-0.8.0.dist-info/METADATA
.venv/lib/python3.8/site-packages/build-0.8.0.dist-info/RECORD
.venv/lib/python3.8/site-packages/build-0.8.0.dist-info/top_level.txt
.venv/lib/python3.8/site-packages/build-0.8.0.dist-info/WHEEL
.venv/lib/python3.8/site-packages/packaging/__about__.py
.venv/lib/python3.8/site-packages/packaging/__init__.py
.venv/lib/python3.8/site-packages/packaging/_manylinux.py
.venv/lib/python3.8/site-packages/packaging/_musllinux.py
.venv/lib/python3.8/site-packages/packaging/_structures.py
.venv/lib/python3.8/site-packages/packaging/markers.py
.venv/lib/python3.8/site-packages/packaging/py.typed
.venv/lib/python3.8/site-packages/packaging/requirements.py
.venv/lib/python3.8/site-packages/packaging/specifiers.py
.venv/lib/python3.8/site-packages/packaging/tags.py
.venv/lib/python3.8/site-packages/packaging/utils.py
.venv/lib/python3.8/site-packages/packaging/version.py
.venv/lib/python3.8/site-packages/packaging/__pycache__/__about__.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/__init__.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/_manylinux.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/_musllinux.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/_structures.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/markers.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/requirements.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/specifiers.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/tags.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/utils.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging/__pycache__/version.cpython-38.pyc
.venv/lib/python3.8/site-packages/packaging-21.3.dist-info/INSTALLER
.venv/lib/python3.8/site-packages/packaging-21.3.dist-info/LICENSE
.venv/lib/python3.8/site-packages/packaging-21.3.dist-info/LICENSE.APACHE
.venv/lib/python3.8/site-packages/packaging-21.3.dist-info/LICENSE.BSD
.venv/lib/python3.8/site-packages/packaging-21.3.dist-info/METADATA
.venv/lib/python3.8/site-packages/packaging-21.3.dist-info/RECORD
.venv/lib/python3.8/site-packages/packaging-21.3.dist-info/top_level.txt
.venv/lib/python3.8/site-packages/packaging-21.3.dist-info/WHEEL
.venv/lib/python3.8/site-packages/pep517/__init__.py
.venv/lib/python3.8/site-packages/pep517/build.py
.venv/lib/python3.8/site-packages/pep517/check.py
.venv/lib/python3.8/site-packages/pep517/colorlog.py
.venv/lib/python3.8/site-packages/pep517/compat.py
.venv/lib/python3.8/site-packages/pep517/dirtools.py
.venv/lib/python3.8/site-packages/pep517/envbuild.py
.venv/lib/python3.8/site-packages/pep517/meta.py
.venv/lib/python3.8/site-packages/pep517/wrappers.py
.venv/lib/python3.8/site-packages/pep517/__pycache__/__init__.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/__pycache__/build.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/__pycache__/check.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/__pycache__/colorlog.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/__pycache__/compat.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/__pycache__/dirtools.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/__pycache__/envbuild.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/__pycache__/meta.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/__pycache__/wrappers.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/in_process/__init__.py
.venv/lib/python3.8/site-packages/pep517/in_process/_in_process.py
.venv/lib/python3.8/site-packages/pep517/in_process/__pycache__/__init__.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517/in_process/__pycache__/_in_process.cpython-38.pyc
.venv/lib/python3.8/site-packages/pep517-0.12.0.dist-info/INSTALLER
.venv/lib/python3.8/site-packages/pep517-0.12.0.dist-info/LICENSE
.venv/lib/python3.8/site-packages/pep517-0.12.0.dist-info/METADATA
.venv/lib/python3.8/site-packages/pep517-0.12.0.dist-info/RECORD
.venv/lib/python3.8/site-packages/pep517-0.12.0.dist-info/WHEEL
.venv/lib/python3.8/site-packages/pyparsing/__init__.py
.venv/lib/python3.8/site-packages/pyparsing/actions.py
.venv/lib/python3.8/site-packages/pyparsing/common.py
.venv/lib/python3.8/site-packages/pyparsing/core.py
.venv/lib/python3.8/site-packages/pyparsing/exceptions.py
.venv/lib/python3.8/site-packages/pyparsing/helpers.py
.venv/lib/python3.8/site-packages/pyparsing/py.typed
.venv/lib/python3.8/site-packages/pyparsing/results.py
.venv/lib/python3.8/site-packages/pyparsing/testing.py
.venv/lib/python3.8/site-packages/pyparsing/unicode.py
.venv/lib/python3.8/site-packages/pyparsing/util.py
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/__init__.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/actions.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/common.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/core.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/exceptions.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/helpers.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/results.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/testing.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/unicode.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/__pycache__/util.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing/diagram/__init__.py
.venv/lib/python3.8/site-packages/pyparsing/diagram/__pycache__/__init__.cpython-38.pyc
.venv/lib/python3.8/site-packages/pyparsing-3.0.9.dist-info/INSTALLER
.venv/lib/python3.8/site-packages/pyparsing-3.0.9.dist-info/LICENSE
.venv/lib/python3.8/site-packages/pyparsing-3.0.9.dist-info/METADATA
.venv/lib/python3.8/site-packages/pyparsing-3.0.9.dist-info/RECORD
.venv/lib/python3.8/site-packages/pyparsing-3.0.9.dist-info/WHEEL
.venv/lib/python3.8/site-packages/tomli/__init__.py
.venv/lib/python3.8/site-packages/tomli/_parser.py
.venv/lib/python3.8/site-packages/tomli/_re.py
.venv/lib/python3.8/site-packages/tomli/_types.py
.venv/lib/python3.8/site-packages/tomli/py.typed
.venv/lib/python3.8/site-packages/tomli/__pycache__/__init__.cpython-38.pyc
.venv/lib/python3.8/site-packages/tomli/__pycache__/_parser.cpython-38.pyc
.venv/lib/python3.8/site-packages/tomli/__pycache__/_re.cpython-38.pyc
.venv/lib/python3.8/site-packages/tomli/__pycache__/_types.cpython-38.pyc
.venv/lib/python3.8/site-packages/tomli-2.0.1.dist-info/INSTALLER
.venv/lib/python3.8/site-packages/tomli-2.0.1.dist-info/LICENSE
.venv/lib/python3.8/site-packages/tomli-2.0.1.dist-info/METADATA
.venv/lib/python3.8/site-packages/tomli-2.0.1.dist-info/RECORD
.venv/lib/python3.8/site-packages/tomli-2.0.1.dist-info/WHEEL
